
<div class= "itineraries">


  <div class="row"> 
    <h1>Itineraries</h1>

    <div class="row">
      <div class="col-md-3">
        <strong> Name
      </div>
      <div class="col-md-3">
        Start Date
      </div>
      <div class="col-md-3">
        End Date
      </div>
      <div class="col-md-3">
        Action</strong>
      </div>
    </div>
  </div>

  <br>
<!--       <th>User</th> -->


  <% @itineraries.each do |itinerary| %>
  <div class="row">
        <div class="col-md-3"><%= link_to itinerary.name, itinerary %></div>
        <div class="col-md-3"><%= itinerary.start_date.strftime("%b %d, %Y") %></div>
        <div class="col-md-3"><%= itinerary.end_date.strftime("%b %d, %Y") %></div>
        <div class="col-md-3">
          <%= link_to 'Edit', edit_itinerary_path(itinerary), class: "btn btn-default" %>
          </div>
  </div>
  <% end %>



<br>

<div class="row">
<div class="span7 text-center">
  <%= link_to 'Create New Itinerary', new_itinerary_path, class: "btn btn-default"%></div>
</div>

</div>
