<div class= "itineraries">
<h1>Itineraries</h1>

  <ul><strong>
      Name
      Start date
      End date
  </strong></ul>
<!--       <th>User</th> -->


    <% @itineraries.each do |itinerary| %>
        <%= link_to itinerary.name, itinerary %>
        <%= itinerary.start_date.strftime("%b %d, %Y") %>
        <%= itinerary.end_date.strftime("%b %d, %Y") %>
        
        <%= link_to 'Edit', edit_itinerary_path(itinerary) %>
        <%= link_to 'Delete', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
    <% end %>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>

</div>
