<div class= "itineraries-show">
<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
<p>
  <strong>Name:</strong>
  <%= @itinerary.name %>
</p>
</div>

<div class="row">
<p> 
<strong>Destination:</strong>
<% @itinerary.destinations.each do |destination|%>
    <%= @poi.destination.name %>
    <% end %>
</p>
</div>

<div class="row">
<p>
  <strong>Start Date:</strong>
  <%= @itinerary.start_date.strftime("%b %d, %Y") %>
</p>
</div>

<div class="row">
<p>
  <strong>End Date:</strong>
  <%= @itinerary.end_date.strftime("%b %d, %Y") %>
</p>
</div>

<!-- <div class="col-lg-12">
<p>
  <strong>User:</strong>
  <%= @itinerary.user.email %>
</p>
</div> -->


<br>
<div class="row">
	Points of Interest:
	<ul>
		<% @itinerary.pois.each do |poi| %>
			<li><%= link_to poi.description, poi %></li>
		<% end %>
	</ul>
	</div>

<div class="row"> 
<%= link_to 'Edit', edit_itinerary_path(@itinerary), class: "btn btn-default" %> 
<%= link_to 'Back', itineraries_path, class: "btn btn-default" %>
</div>
</div>
