<div class= "itineraries-show">
<!-- <p id="notice"><%= notice %></p> -->
<div class="row"
  <div class="col-lg-12">
<p>
  <strong>Name:</strong>
  <%= @itinerary.name %>
</p>
</div>

<div class="col-lg-12">
<p>
<p>
  <strong>Start date:</strong>
  <%= @itinerary.start_date %>
</p>
</div>

<div class="col-lg-12">
<p>
  <strong>End date:</strong>
  <%= @itinerary.end_date %>
</p>
</div>

<div class="col-lg-12">
<p>
  <strong>User:</strong>
  <%= @itinerary.user.email %>
</p>
</div>

<div class="col-lg-12">
<strong>Destinations:</strong>
<% @itinerary.destinations.each do |destination|%>
    <%= destination.name %>
    <% end %>
</div>
<br>
	User POIs:
	<ul>
		<% @itinerary.pois.each do |poi| %>
			<li><%= poi.description %></li>
		<% end %>
	</ul>
	
<%= link_to 'Edit', edit_itinerary_path(@itinerary), class: "btn btn-default" %> |
<%= link_to 'Back', itineraries_path, class: "btn btn-default" %>
</div>
