<div class= "itineraries-show">
<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @itinerary.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @itinerary.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @itinerary.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @itinerary.user.email %>
</p>

<strong>Destinations:</strong>

	User POIs:
	<ul>
		<% @itinerary.pois.each do |poi| %>
			<li><%= poi.description %></li>
		<% end %>
	</ul>
	
<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
</div>
