<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @destination.name %> <%= " (#{@category.name})" if @category %>
</p>

<%# select_tag :category, options_for_select(Category.all.collect{|c| [c.name, c.id] }) %>
<%# submit_tag("Go") %>
<%= link_to 'All', destination_path(@destination) %>
<% Category.all.each do |category| %>
	<%= link_to category.name, destination_path(@destination, category: category.id )%>
<% end %>

<br>

<% @category.pois.each do |poi| %>
	<%= link_to poi.description , poi_path(poi) %><%= poi.categories.first.name rescue nil %>
<br>
<% end %>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>