<div class= "destination-show">
<!-- <p id="notice"><%= notice %></p> -->
<br>
<br>
<br>
<p>
  <h1><%= @destination.name %></h1>
</p>

<%# select_tag :category, options_for_select(Category.all.collect{|c| [c.name, c.id] }) %>
<%# submit_tag("Go") %>
<ul>
	<% Category.all.each do |category| %>
		<button id="category" class="btn btn-default"><%= link_to category.name, destination_path(@destination, category: category.id )%></button>
		<% end %>
		<button id="all" class="btn btn-default"><%= link_to 'All', destination_path(@destination) %></button>
</ul>

<br>

<% @category.each do |poi| %>
	<%= link_to poi.description , poi_path(poi) %>
<br>
<% end %>

<br>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>