<!DOCTYPE html>
<html>
<head>
  <title>Cruiseit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
	<%= link_to 'Itineraries', itineraries_path %>
	<%= link_to 'Points of Interest', pois_path %>
	<%= link_to 'Destinations', destinations_path %>
	<%= link_to 'Categories', categories_path %>
</p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
