<!DOCTYPE html>
<html>
<head>
  <title>Cruiseit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
	<%= link_to 'Pois', pois_path %>
	<%= link_to 'Destinations', destinations_path %>
	<%= link_to 'Categories', categories_path %>
</p>
<%= yield %>

</body>
</html>
